#!/bin/bash
# Packages hash: {{ include "private_dot_config/systemd/user/jenv-refresh.path" | sha256sum }}
# Packages hash: {{ include "private_dot_config/systemd/user/jenv-refresh.service" | sha256sum }}
set -euo pipefail

OS="{{ .chezmoi.os }}"

if [[ $OS != "linux" ]]; then
	exit 0
fi;

systemctl --user enable --now jenv-refresh.path

systemctl --user daemon-reload
