#!/usr/bin/env bash
# Used files hash: {{ include "macos/sudo_local" | sha256sum }}
# Used files hash: {{ include "macos/limit.maxfiles.plist" | sha256sum }}

set -euo pipefail


OS=$(uname)

if [[ "$OS" != "Darwin" ]]; then
	exit 0
fi;

# iTerm2 setup loading settings from dotfiles and keeping them in sync
defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "{{ .chezmoi.workingTree }}/macos"
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
defaults write com.googlecode.iterm2.plist NoSyncNeverRemindPrefsChangesLostForFile_selection -int 2

# Disable press and hold for keys
defaults write -g ApplePressAndHoldEnabled -bool false

# qtpass setup
defaults write com.ijhack.QtPass.plist gitExecutable -string "$(brew --prefix)/bin/git"
defaults write com.ijhack.QtPass.plist gpgExecutable -string "$(brew --prefix)/bin/gpg"

# Quaratine bit removal from some apps which are safe bit not signed
sudo xattr -r -d com.apple.quarantine \
	/Applications/DiscreteScroll.app \
	/Applications/MuteSpotifyAds.app \
	/Applications/QtPass.app

# Services enabling
sudo launchctl load -w /System/Library/LaunchDaemons/com.apple.locate.plist 2>/dev/null || true
brew services start uptimed > /dev/null

# Increase max open files limit
sudo cp {{ .chezmoi.workingTree }}/macos/limit.maxfiles.plist /Library/LaunchDaemons/limit.maxfiles.plist
sudo chown root:wheel /Library/LaunchDaemons/limit.maxfiles.plist
sudo launchctl load -w /Library/LaunchDaemons/limit.maxfiles.plist 2> /dev/null || true

# Setup sudo fingerprint
sudo cp {{ .chezmoi.workingTree }}/macos/sudo_local /etc/pam.d/sudo_local

# Other
brew analytics off
