#!/usr/bin/env bash
# Packages hash: {{ include "profiles/launchmetrics/macos/Brewfile" | sha256sum }}

set -euo pipefail

OS="{{ .chezmoi.os }}"
PROFILE="{{ .profile }}"

# TODO: not ready for personal yet
if [[ $PROFILE == "personal" ]]; then
	exit 0
fi;

if [[ $OS != "darwin" ]]; then
	exit 0
fi;

cd "{{ .chezmoi.workingTree }}"
brew bundle --file profiles/launchmetrics/macos/Brewfile --no-lock
