#!/usr/bin/env bash
# Packages hash: {{ include "profiles/launchmetrics/archlinux/packages-arch.txt" | sha256sum }}
# Packages hash: {{ include "profiles/launchmetrics/archlinux/packages-archarm.txt" | sha256sum }}
# Optional packages hash: {{ include "profiles/launchmetrics/archlinux/packages-arch-optional.txt" | sha256sum }}
# Optional packages hash: {{ include "profiles/launchmetrics/archlinux/packages-archarm-optional.txt" | sha256sum }}
set -euo pipefail

function findMissing() {
	local PACKAGES=$1

	for PACKAGE in $PACKAGES; do
		if ! pacman -Qi $PACKAGE > /dev/null 2>&1; then
			echo $PACKAGE
		fi
	done
}

OS="{{ .chezmoi.os }}"
DISTRO="{{ if eq .chezmoi.os "linux" }}{{ .chezmoi.osRelease.id }}{{ end }}"
PROFILE="{{ .profile }}"

# TODO: not ready for personal yet
if [[ $PROFILE == "personal" ]]; then
	exit 0
fi;

if [[ $OS != "linux" && $DISTRO != 'arch' && $DISTRO != 'archarm' ]]; then
	exit 0
fi;

cd "{{ .chezmoi.workingTree }}"

PACKAGES=$(cat profiles/launchmetrics/archlinux/packages-$DISTRO.txt)
MISSING_PACKAGES=$(findMissing "$PACKAGES")

PACKAGES_OPTIONAL=$(cat profiles/launchmetrics/archlinux/packages-$DISTRO-optional.txt)
MISSING_PACKAGES_OPTIONAL=$(findMissing "$PACKAGES_OPTIONAL")

if [ ! -z "$MISSING_PACKAGES" ]; then
	echo "Installing missing packages: $MISSING_PACKAGES"
	yay -S --noconfirm $MISSING_PACKAGES
fi

if [ ! -z "$MISSING_PACKAGES_OPTIONAL" ]; then
	echo "Installing missing optional pacakges dependencies: $MISSING_PACKAGES_OPTIONAL"
	yay -S --asdeps --noconfirm $MISSING_PACKAGES_OPTIONAL
fi
