#!/bin/bash
# PKGBUILD hash: {{ include "profiles/launchmetrics/archlinux/config/PKGBUILD" | sha256sum }}
# Install hash: {{ include "profiles/launchmetrics/archlinux/config/config.install" | sha256sum }}
set -euo pipefail

OS="{{ .chezmoi.os }}"
DISTRO="{{ if eq .chezmoi.os "linux" }}{{ .chezmoi.osRelease.id }}{{ end }}"

if [[ "$OS" != "linux" && "$DISTRO" != "arch" ]]; then
	exit 0
fi;

cd "{{ .chezmoi.workingTree }}/profiles/launchmetrics/archlinux/config"
makepkg -f -si -c --noconfirm
