.vscode
archlinux
images
macos
LICENSE
README.md

{{- if ne .chezmoi.os "linux" }}
	{{- template "linux_files" . }}
{{ end }}

{{- if or (ne .chezmoi.os "linux") (ne .chezmoi.osRelease.id "arch") }}
	{{- template "arch_files" . }}
{{ end }}

{{- if ne .chezmoi.os "darwin" }}
	{{- template "macos_files" . }}
{{ end }}

{{- if (not (stat (joinPath .chezmoi.homeDir "/.password-store"))) }}
.databrickscfg
.npmrc
.docker/config.json
.ssh/config
.ssh/arch-aur
.ssh/github
.ssh/work
{{ end }}
