.vscode
archlinux
macos
LICENSE
README.md

# Exclusive linux files
{{- if ne .chezmoi.os "linux" }}

# Exclusive arch files
{{- if ne .chezmoi.osRelease.id "arch" }}
.cache/yay/

.config/systemd/user/noisetorch.service
.config/USBGuard
{{- end }}

.kde4/

.config/autostart/
.config/fish/functions/fish_greeting.fish
.config/fontconfig/
.config/pinentry/preexec
.config/systemd/
.config/touchegg/
.config/USBGuard/
.config/yay/

.config/electron-flags.conf
.config/baloofilerc
.config/konsolerc
.config/yakuakerc

.gnupg/

.local/
{{- end }}
