{{- if eq .chezmoi.os "linux" }}
	{{- template "macos_files" }}

	{{ if (ne .chezmoi.osRelease.id "arch") }}
		{{- template "arch_files" }}
	{{- end }}
{{ end }}

{{- if eq .chezmoi.os "darwin" }}
	{{- template "linux_files" . }}
	{{- template "arch_files" . }}
{{ end  }}

# Old files to remove
.config/code-flags.conf
.config/systemd/user/noisetorch.service
.local/share/applications/.slack.desktop
.local/share/applications/.Zoom.desktop
