[user]
        name = {{ .git.name }}
        email = {{ .git.work.email }}
        signingkey = {{ .git.work.signkey }}

[commit]
        verbose = true
        gpgsign = true

[init]
	defaultBranch = main

[push]
        default = simple

[pull]
        rebase = merges

[diff]
        tool = meld
        ff = false

[mergetool]
        prompt = false

[sequence]
       editor = interactive-rebase-tool

[url "https://github.com"]
	insteadOf = git://github.com

[includeIf "gitdir:~/Develop/*/.git"]
        path = ~/.gitconfig-lm-hooks.inc

[includeIf "gitdir:~/Develop/ribugent/"]
	path = ~/.gitconfig-ribugent.inc

[includeIf "gitdir:.local/share/chezmoi/"]
	path = ~/.gitconfig-ribugent.inc

[color "status"]
	added = green bold
#	changed = red bold strike
	untracked = cyan
	branch = yellow black bold ul

# Git-delta config
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
    features = themes

[delta "themes"]
    syntax-theme = OneHalfDark

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
