#!/bin/bash
# Packages hash: {{ include "archlinux/config/PKGBUILD" | sha256sum }}

OS="{{ .chezmoi.os }}"
DISTRO="{{ .chezmoi.osRelease.id }}"

if [[ $OS -ne "linux" && $DISTRO -ne 'arch' ]]; then
	exit 0
fi;

cd "{{ .chezmoi.workingTree }}/archlinux/config"
makepkg -f -si -c --noconfirm
