{{- if eq .profile "personal" }}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/55Z21qi4AoSvPTA8oIFo2uwKzS5n0B3l7zlPtwKZOSx9ogCiqImtjJFN9kzVCjD1UGfdLQl0LV86gX0wh20MQoBvYqw14TFLWEHiMXnwi3EVCWeGSTpvXxaNf7Yaw/PAaQlJ4GSokuc/GrQT5Q9ACKq6oWU7ZyqIy2GvnGFk5pnaoZMUOdOsuKAhs63ldoYP3ysafp2NPRsO2cpEmy8fWufDPMK/lo+3hKExFKsidOL5jFrpDhzFx/owYChwMJm0wBmo78+qXe69DWcPt3NwywsT5fMEbGctQre6F8obdsscZXSqFtGUzOOMmeGl+wiwmHscz6mlb3NXTam0+/D5 ribu@skypiea
ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAvzfqU7RmGqHDtX4ZDsOQepurN7xXbhZ8a/WAcn0LgqtsdENH3nztE6w7svnbqq+mlFMcpokLp0vZpeUKodv8K+eBqmYFKcrhzJdjtzXore1DqH8m3bLK2MWGPHExEjzEQ7K4d+NFUwanCqjQnIFQc824bmIeL0JKMBV0Ed2MN2iMU13s/32nNnOEeL5yCeQa+xDtVii0Qk/og2h1Yms6aTKaWxRmL/XWA5HrSvgGX4XSVXrBHNosmyj2zH/57Se4IQv2PWLkobhhDHNmDoynSmBb93hdgci/i8zisAQM2WFbeXR8MS0dd65Z81apHFACmXuZHKwgDeVu5okFw0FJmw== ribu@zefiris
{{- end }}
