function fish_greeting
{{- if eq .chezmoi.os "linux" }}
paleofetch
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
fastfetch -s title:separator:os:host:uptime:packages:shell:display:terminal:terminalfont:cpu:gpu:disk:memory:swap:battery --logo {{ .chezmoi.workingTree }}/images/lm.png --logo-type iterm --logo-width 38 --logo-height 18
{{- end }}
end
