function fish_greeting
{{- if eq .chezmoi.os "linux" }}
	paleofetch
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
	neowofetch --disable packages --disable de --disable wm --disable editor --disable kernel --disable resolution --iterm2 {{ .chezmoi.workingTree }}/images/lm.png --size 250px
{{- end }}
end
